Pyhton == 3.8.5
Flask == 2.0.1
Keras == 2.4.3
Pillow == 8.2.0
joblib == 1.0.1
matplotlib == 3.3.4
numpy == 1.20.2
opencv_python == 4.5.3.56
pandas == 1.2.4
scikit_learn == 0.24.2
tensorflow == 2.3.0
textblob == 0.15.3
